<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width">
<meta charset="utf-8" />
<link href="/css/common.css" rel="stylesheet" /> 

<title>Time market</title>

<script src="/js/lib/jquery-1.11.1.min.js"></script>
<script src="/js/common.js"></script>

</head>
<body>
<div class="wrap">
    <div class="sidenav_layer" id="usidelayer">
        <div class="sidenav_layerbox">
            <p class="sidenav_close"><img src="/images/backgray.gif" style="width:40px"></p>
            <div class="sidenav_top">
                <p class="user_pic" id="sidebar_userpic" style="background-size:cover; width:60px;height:60px; 
                        display:inline-block; width: 60px; position: absolute; left: 14px;
                        border-radius:30px;">
                </p>
                <p class="welcom_message"><span class="user_id" id="sidebar_userid"></span>님 환영합니다</p>
                <p id="sidebar_email"></p>
            </div>
            <ul>
                <li class="sidenav_item"><a href="/chatlist">메세지</a></li>
                <li class="sidenav_item"><a href="/posting">헬퍼요청</a></li>
                <li class="sidenav_item" id="logoutTab">로그아웃</li>
            </ul>
        </div>
    </div>
    <div class="header">
        <div class="in_header">
            <p class="menu_icon"><img src="/images/menutop.gif"></p>
            <h1 class="top_logo"><a href="/">Time market</a></h1>
        </div>
    </div>

    <div class="container">
        <section>

            <% 
                var curTitle = post._doc.title;
                var curContents = post._doc.contents;
                var pay = post._doc.pay;

                var uploadDate = post._doc.upload_date;
                var writerName = post._doc.writer.name;
                var writerGender = post._doc.writer.gender;
                var helperGender = post._doc.helper_gender;
                var writerId = post._doc.writer.id;
                var addr = post._doc.address.addr;
                var writerObjId = post._doc.writer._id;
                var postObjId = post._doc._id;
                //var userPic = post._doc.writer.pic;
                var userPicPath = post._doc.writer.pic.path;
                var userPicFilename = post._doc.writer.pic.filename;
                var processDate = date.join('-');
                //console.log('이미지패스' : userPicPath);  
                console.log(userPicFilename);   // filename.jpg

                var entities = new Entities();
                var decodedContents = entities.decode(curContents);

                var location = addr.split(" ")[0]
            %>

            <div id="post_box">
                <div class="top_in_box">
                    <p class="user_pic"
                        style="width:48px;height:48px; margin:2px; 
                    position: relative; width: 40px; height: 40px; margin: 5px 0;
                    display:inline-block; position: relative; border-radius:30px;
                    background:url('https://tm-20201025.s3.ap-northeast-2.amazonaws.com/upload/<%=userPicFilename %>') no-repeat center center; background-size:cover">
                    </p>

                    <p class="user"><span class="user_name"><%= writerName %>(<%=writerGender%>)</span><span
                            class="user_location"><%= location%></span></p>
                    <p class="time"><%= processDate %></p>
                    <div class="clear"></div>
                </div>
                <div class="content">
                    <p class="title"> <%=curTitle %> </p>
                    <p class="text"> <%=decodedContents %>
                    </p>
                    <p class="info">
                        <span class="gender" style="margin-right:15px">성별 : <%=helperGender %> </span><br>
                        <span class="pay">일당 : <%= pay %> 원</span>
                        <br>
                        <span class="location">장소 : <%=addr %></span>
                    </p>
                </div>

                <form id="gomsg" method="post">
                    <input type="hidden" name="writer_oid" value="<%=writerObjId %>">
                    <input type="hidden" name="writer_id" id="writer_id" value="<%=writerId %>">
                    <input type="hidden" name="post_oid" id="post_oid" value="<%=postObjId%>">
                    <input type="button" id="message_button" class="bottom_button" value="메세지보내기">
                </form>

            </div>
        </section>
    </div>

    <script>
        $("#message_button").on('click', function (e) {
            console.log('reqpost 메세지보내기 버튼 클릭 - postoid writerid체크 ')
            console.log('$("#post_oid").val() : ' + $("#post_oid").val())
            console.log('$("#writer_id").val() : ' + $("#writer_id").val())
            e.preventDefault();
            $.ajax({
                url: '/chat'
                , method: 'POST'
                , data: { post_oid: $("#post_oid").val(), writer_id: $("#writer_id").val() }
                , success: function (data) {
                    var dataStr = JSON.stringify(data)
                    console.log('dataStr : ' + dataStr)
                    if (data.chat_id != "") {
                        console.log('data.chatId : ' + data.chat_id)
                        location.href = '/chaton/' + data.chat_id
                    } else {
                        alert('자신이 작성한 포스팅에서는 먼저 채팅을 시작할 수 없습니다')
                    }
                }
            });
        })
    </script>
</div>

</body>
</html>